:root {
    --primary: #E2E8EF;
    --sidebar: #1991D4;
    --borders: #E7E7E7;
    --dark-yellow: #F0B429;
    --white: #FFFFFF;
    --buttons: #1991D4;
}

body {
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 180px auto;
    height: 100%;
    background-color: var(--primary);
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 50px 300px 150px;
    gap: 40px;
    padding: 10px 15px;
    background-color: var(--sidebar);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: var(--white);
}

.header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 40% 60%;
    background-color: var(--white);
    border-bottom: 1px solid var(--borders);
} 

.search-bar,
.notifications,
.profile,
.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar {
    justify-content: flex-start;
    padding-left: 50px;
    gap: 40px;
}

#search {
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 10px;
    font-weight: 600;
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.notifications {
    justify-content: flex-end;
    padding-right: 80px;
    gap: 30px;
}

.profile {
    justify-content: flex-start;
    gap: 20px;
    padding-left: 55px;
}

.profile-name p {
    font-weight: 700;
    margin: 0;
}

.profile-name p:nth-child(1) {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.profile-name p:nth-child(2) {
    font-size: 1.4rem;
}

.header-buttons {
    justify-content: flex-end;
    padding-right: 75px;
    gap: 20px;
}

.header-buttons button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    background-color: var(--buttons);
    color: var(--white);
}

.notifications p {
    font-size: 1.2rem;
    font-weight: 700;
}

.sidebar-title {
    font-size: 2rem;
    margin: 0;
}

.sidebar-menu,
.options-menu {
    display: grid;
    grid-auto-rows: 50px;
}

.sidebar-menu div,
.options-menu div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 5px;
    color: var(--white);
}

.sidebar-menu img,
.options-menu img {
    width: 24px;
    height: 24px;
}

.sidebar-menu p,
.options-menu p {
    font-size: 1.4rem;
    font-weight: 600;
}

.content {
    display: grid;
    grid-template: 1fr / 3.5fr 1fr;
    background-color: var(--primary);
    box-shadow: rgba(10, 37, 64, 0.219) 0px 2px 6px 0px inset;
}

.left-side {
    padding: 0 20px 30px ;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: row;
    gap: 30px;
}

.card {
    border: 1px solid var(--borders);
    border-radius: 10px;
    border-left: 8px solid var(--dark-yellow);
    padding: 30px 20px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card h4,
.card p {
    margin: 0;
}

.card h4 {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.card p {
    height: 70%;
    overflow: hidden;
    text-wrap: pretty;
}

.card-icons {
    text-align: end;
}

.card-icons img {
    margin: 0 10px;
}

.rigth-side {
    padding: 0 25px 25px 0;
    min-width: 250px;
}

.announcements-container,
.trending-content {
    border: 1px solid var(--borders);
    border-radius: 15px;
    padding: 30px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.announcements-content {
    border-bottom: 2px solid var(--borders);
}

.announcements-content h4 {
    margin: 0 0 5px 0;
}

.announcements-content p {
    margin: 0 0 20px 0;
    text-wrap: pretty;
    font-size: 0.8rem;
}

.announcements-container > .announcements-content:nth-child(2) h4,
.announcements-container > .announcements-content:nth-child(3) h4 {
    margin-top: 20px;
}

.announcements-container > .announcements-content:last-child {
    border-bottom: none;
}

.announcements-container > .announcements-content:last-child p {
    margin-bottom: 0;
}

.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8%;
    margin-bottom: 20px;
}

.profile-info P {
    margin: 0;
}

.profile-info p:nth-child(1) {
    margin-bottom: 5px;
    font-weight: 600;
}

.profile-card:last-child  {
    margin-bottom: 0;
}

